<div class="row">
  <div class="col m9">
    <h4>Customers</h4>
  </div>
  <div class="input-field col m3 right">
    <input type="text" placeholder="Search" ng-model="customerFilter">
  </div>
  <table class="centered highlight">
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Created Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody ng-repeat="customer in customers | filter: customerFilter | orderBy: '-created_at' track by $index">
      <tr>
        <td ng-bind="customer.name"></td>
        <td ng-bind="customer.created_at | date: 'medium'"></td>
        <td><div ng-click="remove(customer)" class="btn red">Delete</div></td>
      </tr>
    </tbody>
  </table>
</div>
<h4>Add a new customer</h4>
<div class="row">
  <form>
    <div class="input-field col m3">
      <input type="text" placeholder="Name" ng-model='new_customer.name'>
    </div>
    <div class="input-field col m3">
      <input type="submit" value="Add" ng-click="add()" class="btn">
    </div>
  </form>
</div>
