<div class="row">
  <div class="col m9">
    <h4>Products</h4>
  </div>
  <div class="input-field col m3 right">
    <input type="text" placeholder="search products" ng-model="productFilter">
  </div>
</div>
<div class="row">
  <div class="col m3" ng-repeat="product in products | filter: productFilter | orderBy: '-created_date' track by $index">
    <div class="card-panel silver lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s12">
          <img src="{{product.imageURL}}" alt="{{product.name}}" class="responsive-img">
        </div>
      </div>
    </div>
    <p class="center">{{product.name}}</p>
    <p class="center">({{product.stock}} left)</p>
  </div>
</div>
<h4>Add a new product</h4>
<form>
  <div class="row">
    <div class="input-field col m4">
      <input type="text" placeholder="Name" ng-model="new_product.name" required>
    </div>
    <div class="input-field col m2">
      <input type="number" placeholder="Initial Qty" ng-model="new_product.stock">
    </div>
  </div>
  <div class="row">
    <div class="input-field col m6">
      <input type="text" placeholder="img(URL)" ng-model="new_product.imageURL">
    </div>
  </div>
  <div class="row">
    <div class="input-field col m6">
      <textarea class="materialize-textarea" placeholder="Description" ng-model="new_product.description"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col m6">
      <div class="input-field right">
        <input type="submit" value="Create" ng-click="add()" class="btn">
      </div>
    </div>
  </div>
</form>
